In [1]:
import sys
sys.path.append("../")

import csv
import pandas as pd
import numpy as np
import json
from itertools import repeat, chain
import utils
from utils import pad_with_zeros, zeros

In [2]:
## Update this to wherever your data directory is that contains that downloaded files referenced in the README
## of this repo
data_directory = "data"

## Prep - Scoping to just most populous counties

The following file of county populations is from this site: https://www2.census.gov/programs-surveys/popest/datasets/2010-2019/counties/totals/

In [3]:
# Read the recent populations estimates for all counties in the US
population = pd.read_csv(f"{data_directory}/co-est2019-alldata.csv", header=0, encoding='ISO-8859-1')

In [4]:
# Get counties with population greater than 100K - this can be changed and is just to narrow our initial scope of data
pop = population[population['POPESTIMATE2019'] > 100000]

# Filter out entries that are not cities
pop =  pop[pop['CTYNAME'].str.contains('County')]

# Create unique state and place code for merge
pop['STATE_COUNTY'] = pop.apply(lambda x: f"{x['STATE']}:{x['COUNTY']}", axis=1)

# Generate a list of valid states and place
filter_pop = pop['STATE_COUNTY'].to_list()

In [5]:
# Save the unique state and county pairs that we will be querying from the ACS
with open(f'{data_directory}/state_county.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerows(list(map(lambda x: x.split(":"), filter_pop)))

## Running to Collect ACS Data using Census API

In [6]:
# Lets set up our requests session. You can use teh creaet session utility or just pass the requests object
session = utils.create_session()

states_and_counties_fp = "{}/state_county.csv".format(data_directory)

# Read in the states and places we will be querying
states_and_counties = pd.read_csv(states_and_counties_fp).values

In [7]:
## These codes and endpoints are from viewing the Census API documentation

## B03002_001E - Total population
## B03002_012E - Total population Hispanic origin
## B03002_003E - Total population white and not Hispanic
## B03002_004E - Total population black and not Hispanic
## B03002_005E - Total population Native American and not Hispanic
## B03002_006E - Total population Asian and not Hispanic

## B01002_001E - Median Age
## B01002_002E - Median Male Age

## DP03_0062E - Median Income
## DP04_0037E - Median Rooms
## DP02_0001E - # of houses

## B06009_001E - Total population 
## B06009_002E - Less than high school graduate
## B06009_003E - Just high school graduate
## B06009_005E - bachelors
## B06009_006E - graduate studies +


codes = {'acs/acs5':[ "B01003_001E", "B01002_002E", "B01002_001E", "B02001_002E", "B06009_001E",
                    "B06009_002E", "B06009_003E", "B06009_005E", "B06009_006E", "B03002_001E", "B03002_012E", 
                     "B03002_004E", "B03002_003E", "B03002_006E", "B03002_005E", "B03002_002E"],
        'acs/acs5/profile' : ["DP02_0001E", "DP04_0037E", "DP03_0062E"]} 
acs_endpoints = ['acs/acs5', 'acs/acs5/profile']


df = utils.gather_results(session, acs_endpoints, utils.config, states_and_counties, codes, dfs=[], start=0)

1 15
Status: 0.17%
1 55
Status: 0.35%
1 69
Status: 0.52%
1 73
Status: 0.70%
1 81
Status: 0.87%
1 89
Status: 1.05%
1 97
Status: 1.22%
1 101
Status: 1.40%
1 103
Status: 1.57%
1 117
Status: 1.75%
1 125
Status: 1.92%
4 3
Status: 2.10%
4 5
Status: 2.27%
4 13
Status: 2.45%
4 15
Status: 2.62%
4 17
Status: 2.80%
4 19
Status: 2.97%
4 21
Status: 3.15%
4 25
Status: 3.32%
4 27
Status: 3.50%
5 7
Status: 3.67%
5 31
Status: 3.85%
5 45
Status: 4.02%
5 119
Status: 4.20%
5 125
Status: 4.37%
5 131
Status: 4.55%
5 143
Status: 4.72%
6 1
Status: 4.90%
6 7
Status: 5.07%
6 13
Status: 5.24%
6 17
Status: 5.42%
6 19
Status: 5.59%
6 23
Status: 5.77%
6 25
Status: 5.94%
6 29
Status: 6.12%
6 31
Status: 6.29%
6 37
Status: 6.47%
6 39
Status: 6.64%
6 41
Status: 6.82%
6 47
Status: 6.99%
6 53
Status: 7.17%
6 55
Status: 7.34%
6 59
Status: 7.52%
6 61
Status: 7.69%
6 65
Status: 7.87%
6 67
Status: 8.04%
6 71
Status: 8.22%
6 73
Status: 8.39%
6 75
Status: 8.57%
6 77
Status: 8.74%
6 79
Status: 8.92%
6 81
Status: 9.09%
6 83
Status: 9.27%
6 85
Status: 9.44%
6 87
Status: 9.62%
6 89
Status: 9.79%
6 95
Status: 9.97%
6 97
Status: 10.14%
6 99
Status: 10.31%
6 107
Status: 10.49%
6 111
Status: 10.66%
6 113
Status: 10.84%
8 1
Status: 11.01%
8 5
Status: 11.19%
8 13
Status: 11.36%
8 31
Status: 11.54%
8 35
Status: 11.71%
8 41
Status: 11.89%
8 59
Status: 12.06%
8 69
Status: 12.24%
8 77
Status: 12.41%
8 101
Status: 12.59%
8 123
Status: 12.76%
9 1
Status: 12.94%
9 3
Status: 13.11%
9 5
Status: 13.29%
9 7
Status: 13.46%
9 9
Status: 13.64%
9 11
Status: 13.81%
9 13
Status: 13.99%
9 15
Status: 14.16%
10 1
Status: 14.34%
10 3
Status: 14.51%
10 5
Status: 14.69%
12 1
Status: 14.86%
12 5
Status: 15.03%
12 9
Status: 15.21%
12 11
Status: 15.38%
12 15
Status: 15.56%
12 17
Status: 15.73%
12 19
Status: 15.91%
12 21
Status: 16.08%
12 31
Status: 16.26%
12 33
Status: 16.43%
12 35
Status: 16.61%
12 53
Status: 16.78%
12 55
Status: 16.96%
12 57
Status: 17.13%
12 61
Status: 17.31%
12 69
Status: 17.48%
12 71
Status: 17.66%
12 73
Status: 17.83%
12 81
Status: 18.01%
12 83
Status: 18.18%
12 85
Status: 18.36%
12 86
Status: 18.53%
12 91
Status: 18.71%
12 95
Status: 18.88%
12 97
Status: 19.06%
12 99
Status: 19.23%
12 101
Status: 19.41%
12 103
Status: 19.58%
12 105
Status: 19.76%
12 109
Status: 19.93%
12 111
Status: 20.10%
12 113
Status: 20.28%
12 115
Status: 20.45%
12 117
Status: 20.63%
12 119
Status: 20.80%
12 127
Status: 20.98%
13 15
Status: 21.15%
13 21
Status: 21.33%
13 45
Status: 21.50%
13 51
Status: 21.68%
13 57
Status: 21.85%
13 59
Status: 22.03%
13 63
Status: 22.20%
13 67
Status: 22.38%
13 73
Status: 22.55%
13 77
Status: 22.73%
13 89
Status: 22.90%
13 97
Status: 23.08%
13 113
Status: 23.25%
13 117
Status: 23.43%
13 121
Status: 23.60%
13 135
Status: 23.78%
13 139
Status: 23.95%
13 151
Status: 24.13%
13 153
Status: 24.30%
13 185
Status: 24.48%
13 215
Status: 24.65%
13 217
Status: 24.83%
13 223
Status: 25.00%
13 245
Status: 25.17%
13 313
Status: 25.35%
15 1
Status: 25.52%
15 3
Status: 25.70%
15 9
Status: 25.87%
16 1
Status: 26.05%
16 19
Status: 26.22%
16 27
Status: 26.40%
16 55
Status: 26.57%
17 19
Status: 26.75%
17 31
Status: 26.92%
17 37
Status: 27.10%
17 43
Status: 27.27%
17 89
Status: 27.45%
17 91
Status: 27.62%
17 93
Status: 27.80%
17 97
Status: 27.97%
17 99
Status: 28.15%
17 111
Status: 28.32%
17 113
Status: 28.50%
17 115
Status: 28.67%
17 119
Status: 28.85%
17 143
Status: 29.02%
17 161
Status: 29.20%
17 163
Status: 29.37%
17 167
Status: 29.55%
17 179
Status: 29.72%
17 197
Status: 29.90%
17 201
Status: 30.07%
18 3
Status: 30.24%
18 19
Status: 30.42%
18 35
Status: 30.59%
18 39
Status: 30.77%
18 57
Status: 30.94%
18 63
Status: 31.12%
18 81
Status: 31.29%
18 89
Status: 31.47%
18 91
Status: 31.64%
18 95
Status: 31.82%
18 97
Status: 31.99%
18 105
Status: 32.17%
18 127
Status: 32.34%
18 141
Status: 32.52%
18 157
Status: 32.69%
18 163
Status: 32.87%
18 167
Status: 33.04%
19 13
Status: 33.22%
19 103
Status: 33.39%
19 113
Status: 33.57%
19 153
Status: 33.74%
19 163
Status: 33.92%
19 193
Status: 34.09%
20 45
Status: 34.27%
20 91
Status: 34.44%
20 173
Status: 34.62%
20 177
Status: 34.79%
20 209
Status: 34.97%
21 15
Status: 35.14%
21 59
Status: 35.31%
21 67
Status: 35.49%
21 93
Status: 35.66%
21 111
Status: 35.84%
21 117
Status: 36.01%
21 227
Status: 36.19%
23 1
Status: 36.36%
23 5
Status: 36.54%
23 11
Status: 36.71%
23 19
Status: 36.89%
23 31
Status: 37.06%
24 3
Status: 37.24%
24 5
Status: 37.41%
24 13
Status: 37.59%
24 15
Status: 37.76%
24 17
Status: 37.94%
24 21
Status: 38.11%
24 25
Status: 38.29%
24 27
Status: 38.46%
24 31
Status: 38.64%
24 33
Status: 38.81%
24 37
Status: 38.99%
24 43
Status: 39.16%
24 45
Status: 39.34%
25 1
Status: 39.51%
25 3
Status: 39.69%
25 5
Status: 39.86%
25 9
Status: 40.03%
25 13
Status: 40.21%
25 15
Status: 40.38%
25 17
Status: 40.56%
25 21
Status: 40.73%
25 23
Status: 40.91%
25 25
Status: 41.08%
25 27
Status: 41.26%
26 5
Status: 41.43%
26 17
Status: 41.61%
26 21
Status: 41.78%
26 25
Status: 41.96%
26 45
Status: 42.13%
26 49
Status: 42.31%
26 65
Status: 42.48%
26 75
Status: 42.66%
26 77
Status: 42.83%
26 81
Status: 43.01%
26 93
Status: 43.18%
26 99
Status: 43.36%
26 115
Status: 43.53%
26 121
Status: 43.71%
26 125
Status: 43.88%
26 139
Status: 44.06%
26 145
Status: 44.23%
26 147
Status: 44.41%
26 161
Status: 44.58%
26 163
Status: 44.76%
27 3
Status: 44.93%
27 19
Status: 45.10%
27 37
Status: 45.28%
27 53
Status: 45.45%
27 109
Status: 45.63%
27 123
Status: 45.80%
27 137
Status: 45.98%
27 139
Status: 46.15%
27 145
Status: 46.33%
27 163
Status: 46.50%
27 171
Status: 46.68%
28 33
Status: 46.85%
28 47
Status: 47.03%
28 49
Status: 47.20%
28 59
Status: 47.38%
28 89
Status: 47.55%
28 121
Status: 47.73%
29 19
Status: 47.90%
29 37
Status: 48.08%
29 47
Status: 48.25%
29 71
Status: 48.43%
29 77
Status: 48.60%
29 95
Status: 48.78%
29 97
Status: 48.95%
29 99
Status: 49.13%
29 165
Status: 49.30%
29 183
Status: 49.48%
29 189
Status: 49.65%
30 29
Status: 49.83%
30 31
Status: 50.00%
30 63
Status: 50.17%
30 111
Status: 50.35%
31 55
Status: 50.52%
31 109
Status: 50.70%
31 153
Status: 50.87%
32 3
Status: 51.05%
32 31
Status: 51.22%
33 11
Status: 51.40%
33 13
Status: 51.57%
33 15
Status: 51.75%
33 17
Status: 51.92%
34 1
Status: 52.10%
34 3
Status: 52.27%
34 5
Status: 52.45%
34 7
Status: 52.62%
34 11
Status: 52.80%
34 13
Status: 52.97%
34 15
Status: 53.15%
34 17
Status: 53.32%
34 19
Status: 53.50%
34 21
Status: 53.67%
34 23
Status: 53.85%
34 25
Status: 54.02%
34 27
Status: 54.20%
34 29
Status: 54.37%
34 31
Status: 54.55%
34 35
Status: 54.72%
34 37
Status: 54.90%
34 39
Status: 55.07%
34 41
Status: 55.24%
35 1
Status: 55.42%
35 13
Status: 55.59%
35 43
Status: 55.77%
35 45
Status: 55.94%
35 49
Status: 56.12%
36 1
Status: 56.29%
36 5
Status: 56.47%
36 7
Status: 56.64%
36 13
Status: 56.82%
36 27
Status: 56.99%
36 29
Status: 57.17%
36 45
Status: 57.34%
36 47
Status: 57.52%
36 55
Status: 57.69%
36 59
Status: 57.87%
36 61
Status: 58.04%
36 63
Status: 58.22%
36 65
Status: 58.39%
36 67
Status: 58.57%
36 69
Status: 58.74%
36 71
Status: 58.92%
36 75
Status: 59.09%
36 81
Status: 59.27%
36 83
Status: 59.44%
36 85
Status: 59.62%
36 87
Status: 59.79%
36 89
Status: 59.97%
36 91
Status: 60.14%
36 93
Status: 60.31%
36 103
Status: 60.49%
36 109
Status: 60.66%
36 111
Status: 60.84%
36 119
Status: 61.01%
37 1
Status: 61.19%
37 19
Status: 61.36%
37 21
Status: 61.54%
37 25
Status: 61.71%
37 35
Status: 61.89%
37 49
Status: 62.06%
37 51
Status: 62.24%
37 57
Status: 62.41%
37 63
Status: 62.59%
37 67
Status: 62.76%
37 71
Status: 62.94%
37 81
Status: 63.11%
37 85
Status: 63.29%
37 89
Status: 63.46%
37 97
Status: 63.64%
37 101
Status: 63.81%
37 119
Status: 63.99%
37 125
Status: 64.16%
37 129
Status: 64.34%
37 133
Status: 64.51%
37 135
Status: 64.69%
37 147
Status: 64.86%
37 151
Status: 65.03%
37 155
Status: 65.21%
37 159
Status: 65.38%
37 179
Status: 65.56%
37 183
Status: 65.73%
37 191
Status: 65.91%
38 17
Status: 66.08%
39 3
Status: 66.26%
39 17
Status: 66.43%
39 23
Status: 66.61%
39 25
Status: 66.78%
39 29
Status: 66.96%
39 35
Status: 67.13%
39 41
Status: 67.31%
39 45
Status: 67.48%
39 49
Status: 67.66%
39 57
Status: 67.83%
39 61
Status: 68.01%
39 85
Status: 68.18%
39 89
Status: 68.36%
39 93
Status: 68.53%
39 95
Status: 68.71%
39 99
Status: 68.88%
39 103

Status: 69.06%
39 109
Status: 69.23%
39 113
Status: 69.41%
39 133
Status: 69.58%
39 139
Status: 69.76%
39 151
Status: 69.93%
39 153
Status: 70.10%
39 155
Status: 70.28%
39 165
Status: 70.45%
39 169
Status: 70.63%
39 173
Status: 70.80%
40 17
Status: 70.98%
40 27
Status: 71.15%
40 31
Status: 71.33%
40 109
Status: 71.50%
40 143
Status: 71.68%
41 5
Status: 71.85%
41 17
Status: 72.03%
41 19
Status: 72.20%
41 29
Status: 72.38%
41 39
Status: 72.55%
41 43
Status: 72.73%
41 47
Status: 72.90%
41 51
Status: 73.08%
41 67
Status: 73.25%
41 71
Status: 73.43%
42 1
Status: 73.60%
42 3
Status: 73.78%
42 7
Status: 73.95%
42 11
Status: 74.13%
42 13
Status: 74.30%
42 17
Status: 74.48%
42 19
Status: 74.65%
42 21
Status: 74.83%
42 27
Status: 75.00%
42 29
Status: 75.17%
42 41
Status: 75.35%
42 43
Status: 75.52%
42 45
Status: 75.70%
42 49
Status: 75.87%
42 51
Status: 76.05%
42 55
Status: 76.22%
42 69
Status: 76.40%
42 71
Status: 76.57%
42 75
Status: 76.75%
42 77
Status: 76.92%
42 79
Status: 77.10%
42 81
Status: 77.27%
42 85
Status: 77.45%
42 89
Status: 77.62%
42 91
Status: 77.80%
42 95
Status: 77.97%
42 101
Status: 78.15%
42 107
Status: 78.32%
42 125
Status: 78.50%
42 129
Status: 78.67%
42 133
Status: 78.85%
44 3
Status: 79.02%
44 7
Status: 79.20%
44 9
Status: 79.37%
45 3
Status: 79.55%
45 7
Status: 79.72%
45 13
Status: 79.90%
45 15
Status: 80.07%
45 19
Status: 80.24%
45 35
Status: 80.42%
45 41
Status: 80.59%
45 45
Status: 80.77%
45 51
Status: 80.94%
45 63
Status: 81.12%
45 77
Status: 81.29%
45 79
Status: 81.47%
45 83
Status: 81.64%
45 85
Status: 81.82%
45 91
Status: 81.99%
46 99
Status: 82.17%
46 103
Status: 82.34%
47 9
Status: 82.52%
47 11
Status: 82.69%
47 37
Status: 82.87%
47 65
Status: 83.04%
47 93
Status: 83.22%
47 125
Status: 83.39%
47 149
Status: 83.57%
47 157
Status: 83.74%
47 163
Status: 83.92%
47 165
Status: 84.09%
47 179
Status: 84.27%
47 187
Status: 84.44%
47 189
Status: 84.62%
48 27
Status: 84.79%
48 29
Status: 84.97%
48 39
Status: 85.14%
48 41
Status: 85.31%
48 61
Status: 85.49%
48 85
Status: 85.66%
48 91
Status: 85.84%
48 113
Status: 86.01%
48 121
Status: 86.19%
48 135
Status: 86.36%
48 139
Status: 86.54%
48 141
Status: 86.71%
48 157
Status: 86.89%
48 167
Status: 87.06%
48 181
Status: 87.24%
48 183
Status: 87.41%
48 187
Status: 87.59%
48 201
Status: 87.76%
48 209
Status: 87.94%
48 215
Status: 88.11%
48 245
Status: 88.29%
48 251
Status: 88.46%
48 257
Status: 88.64%
48 303
Status: 88.81%
48 309
Status: 88.99%
48 329
Status: 89.16%
48 339
Status: 89.34%
48 355
Status: 89.51%
48 367
Status: 89.69%
48 375
Status: 89.86%
48 381
Status: 90.03%
48 397
Status: 90.21%
48 423
Status: 90.38%
48 439
Status: 90.56%
48 441
Status: 90.73%
48 451
Status: 90.91%
48 453
Status: 91.08%
48 479
Status: 91.26%
48 485
Status: 91.43%
48 491
Status: 91.61%
49 5
Status: 91.78%
49 11
Status: 91.96%
49 35
Status: 92.13%
49 49
Status: 92.31%
49 53
Status: 92.48%
49 57
Status: 92.66%
50 7
Status: 92.83%
51 3
Status: 93.01%
51 13
Status: 93.18%
51 41
Status: 93.36%
51 59
Status: 93.53%
51 85
Status: 93.71%
51 87
Status: 93.88%
51 107
Status: 94.06%
51 153
Status: 94.23%
51 177
Status: 94.41%
51 179
Status: 94.58%
53 5
Status: 94.76%
53 11
Status: 94.93%
53 15
Status: 95.10%
53 33
Status: 95.28%
53 35
Status: 95.45%
53 53
Status: 95.63%
53 57
Status: 95.80%
53 61
Status: 95.98%
53 63
Status: 96.15%
53 67
Status: 96.33%
53 73
Status: 96.50%
53 77
Status: 96.68%
54 3
Status: 96.85%
54 39
Status: 97.03%
54 61
Status: 97.20%
55 9
Status: 97.38%
55 25
Status: 97.55%
55 35
Status: 97.73%
55 39
Status: 97.90%
55 59
Status: 98.08%
55 63
Status: 98.25%
55 73
Status: 98.43%
55 79
Status: 98.60%
55 87
Status: 98.78%
55 101
Status: 98.95%
55 105
Status: 99.13%
55 117
Status: 99.30%
55 127
Status: 99.48%
55 131
Status: 99.65%
55 133
Status: 99.83%
55 139
Status: 100.00%

In [8]:
df.columns

Index(['NAME', 'B01003_001E', 'B01002_002E', 'B01002_001E', 'B02001_002E',
       'B06009_001E', 'B06009_002E', 'B06009_003E', 'B06009_005E',
       'B06009_006E', 'B03002_001E', 'B03002_012E', 'B03002_004E',
       'B03002_003E', 'state', 'county', 'tract', 'DP02_0001E', 'DP04_0037E',
       'DP03_0062E'],
      dtype='object')

In [8]:
df.to_csv("census_tracts_hisp.csv", index= False)

In [9]:
df.shape

(54450, 23)

## Merging Data by Tract - Start here if already collected ACS data

In [10]:
census_tracts = pd.read_csv("census_tracts_hisp.csv")
census_tracts

,NAME,B01003_001E,B01002_002E,B01002_001E,B02001_002E,B06009_001E,B06009_002E,B06009_003E,B06009_005E,B06009_006E,...,B03002_003E,B03002_006E,B03002_005E,B03002_002E,state,county,tract,DP02_0001E,DP04_0037E,DP03_0062E
0,"Census Tract 20, Calhoun County, Alabama",7331,39.2,39.8,6926,5131,387,1758,598,481,...,6806,32,17,7211,1,15,2000,2735,6.0,66217
1,"Census Tract 8, Calhoun County, Alabama",981,39.2,41.7,419,752,204,278,43,35,...,418,2,0,980,1,15,800,423,5.1,27656
2,"Census Tract 9, Calhoun County, Alabama",3617,40.9,44.3,2476,2610,266,638,459,448,...,2464,9,7,3593,1,15,900,1528,6.4,50810
3,"Census Tract 14, Calhoun County, Alabama",3105,43.7,47.1,2502,2343,618,922,46,54,...,2480,0,0,3054,1,15,1400,1178,5.7,42083
4,"Census Tract 21.02, Calhoun County, Alabama",3350,39.4,34.8,2576,2320,80,382,521,629,...,2563,0,0,3310,1,15,2102,1312,6.5,69875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54445,"Census Tract 14, Winnebago County, Wisconsin",3928,41.6,44.2,3661,2864,232,1234,326,123,...,3581,8,0,3828,55,139,1400,1827,5.4,47156
54446,"Census Tract 34, Winnebago County, Wisconsin",4606,34.5,35.2,3913,2987,211,1277,426,135,...,3861,54,25,4370,55,139,3400,1819,5.2,47628
54447,"Census Tract 11, Winnebago County, Wisconsin",4200,37.0,43.4,3687,2871,162,1140,458,153,...,3614,343,7,4127,55,139,1100,1990,4.7,35446
54448,"Census Tract 20, Winnebago County, Wisconsin",7192,41.8,42.4,7091,4909,220,1715,1080,338,...,6883,69,6,6978,55,139,2000,2886,6.0,68457
54449,"Census Tract 21, Winnebago County, Wisconsin",3862,46.2,46.6,3797,2846,303,1101,335,194,...,3521,0,0,3586,55,139,2100,1548,6.0,66103

In [11]:
#Some of the data needs a geoid
#GEOID is defined as: STATE+COUNTY+TRACT
#See: https://www.census.gov/programs-surveys/geography/guidance/geo-identifiers.html
def create_geoid(row):
    geoid = str(utils.pad_with_zero(row["state"])) + str(utils.pad_place_with_zero(row["county"])) + str(utils.pad_tract_with_zero(row["tract"]))
    return int(geoid)

census_tracts["GEOID"] = census_tracts.apply(create_geoid, axis=1)

### Other data files

In [12]:
census_tracts.shape

(54450, 24)

In [13]:
land_area = pd.read_csv("data/2019_Gaz_tracts_national.txt", sep="\t")
land_area

,USPS,GEOID,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
0,AL,1001020100,9817813,28435,3.791,0.011,32.481959,-86.491338
1,AL,1001020200,3325680,5669,1.284,0.002,32.475758,-86.472468
2,AL,1001020300,5349273,9054,2.065,0.003,32.474024,-86.459703
3,AL,1001020400,6384276,8408,2.465,0.003,32.471030,-86.444835
4,AL,1001020500,11408866,43534,4.405,0.017,32.458922,-86.421826
...,...,...,...,...,...,...,...,...
73996,PR,72153750501,1820185,0,0.703,0.000,18.031211,-66.867347
73997,PR,72153750502,689930,0,0.266,0.000,18.024746,-66.860442
73998,PR,72153750503,3298433,1952,1.274,0.001,18.023148,-66.876603
73999,PR,72153750601,10987037,4527,4.242,0.002,18.017809,-66.839070
74000,PR,72153750602,17520483,252953,6.765,0.098,17.985025,-66.853531

In [14]:
land_area.columns = ['USPS', 'GEOID', 'ALAND', 'AWATER', 'ALAND_SQMI', 'AWATER_SQMI','INTPTLAT','INTPTLONG']

In [15]:
land_area.columns

Index(['USPS', 'GEOID', 'ALAND', 'AWATER', 'ALAND_SQMI', 'AWATER_SQMI',
       'INTPTLAT', 'INTPTLONG'],
      dtype='object')

In [16]:
census_tracts["GEOID"]

0         1015002000
1         1015000800
2         1015000900
3         1015001400
4         1015002102
            ...
54445    55139001400
54446    55139003400
54447    55139001100
54448    55139002000
54449    55139002100
Name: GEOID, Length: 54450, dtype: int64

In [17]:
tracts_with_land = census_tracts.merge(land_area[["GEOID","ALAND", "ALAND_SQMI", "INTPTLAT", "INTPTLONG"]], how = "left", on = "GEOID")
tracts_with_land.shape

(54450, 28)

In [18]:
#This is by block group so may need to align on whether to average or not?
epa = pd.read_csv("data/EPA_SmartLocationDatabase_V3_Jan_2021_Final.csv")
epa

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
0,1,4.811300e+11,4.811300e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.184697,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,2.978361e+05
1,2,4.811300e+11,4.811300e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.323221,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,4.849451e+05
2,3,4.811300e+11,4.811300e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.314628,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,1.067059e+05
3,4,4.811300e+11,4.811300e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.229821,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,4.818284e+05
4,5,4.811300e+11,4.811300e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.164863,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,6.876848e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220735,220736,7.803100e+11,7.803100e+11,78,30,961000,2,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,20,1,7.333333,3414.446949,3.355857e+05
220736,220737,7.803100e+11,7.803100e+11,78,30,961000,3,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,20,1,7.333333,2421.025608,2.924305e+05
220737,220738,7.803100e+11,7.803100e+11,78,30,961000,5,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,20,1,7.333333,1955.909418,1.619395e+05
220738,220739,7.803100e+11,7.803100e+11,78,30,960700,3,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,10,1,4.000000,16896.768870,1.038966e+07
220739,220740,7.803100e+11,7.803100e+11,78,30,960200,2,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,12,1,4.666667,3890.488237,6.114601e+05

In [19]:
epa["TRACTCE"].value_counts()

950100    1199
950200    1164
950300    1107
200       1049
300       1042
          ...
864307       1
45116        1
188700       1
16712        1
212305       1
Name: TRACTCE, Length: 23969, dtype: int64

In [20]:
#EPA only has the 10 & 20 digit geoids and I want an 11 digit geoid
#Let's use the same process as earlier in the notebook
#Copying the comments from there below here too:

#Some of the data needs a geoid
#GEOID is defined as: STATE+COUNTY+TRACT
#See: https://www.census.gov/programs-surveys/geography/guidance/geo-identifiers.html

def create_geoid_epa(row):
    geoid = str(utils.pad_with_zero(row["STATEFP"])) + str(utils.pad_place_with_zero(row["COUNTYFP"])) + str(utils.pad_tract_with_zero(row["TRACTCE"]))
    return int(geoid)

epa["GEOID"] = epa.apply(create_geoid_epa, axis=1)
epa

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area,GEOID
0,1,4.811300e+11,4.811300e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,2.978361e+05,48113007825
1,2,4.811300e+11,4.811300e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,4.849451e+05,48113007825
2,3,4.811300e+11,4.811300e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,1.067059e+05,48113007825
3,4,4.811300e+11,4.811300e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,4.818284e+05,48113007824
4,5,4.811300e+11,4.811300e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,6.876848e+05,48113007824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220735,220736,7.803100e+11,7.803100e+11,78,30,961000,2,NaN,NaN,NaN,...,-99999.000000,-99999.000000,1,1,20,1,7.333333,3414.446949,3.355857e+05,78030961000
220736,220737,7.803100e+11,7.803100e+11,78,30,961000,3,NaN,NaN,NaN,...,-99999.000000,-99999.000000,1,1,20,1,7.333333,2421.025608,2.924305e+05,78030961000
220737,220738,7.803100e+11,7.803100e+11,78,30,961000,5,NaN,NaN,NaN,...,-99999.000000,-99999.000000,1,1,20,1,7.333333,1955.909418,1.619395e+05,78030961000
220738,220739,7.803100e+11,7.803100e+11,78,30,960700,3,NaN,NaN,NaN,...,-99999.000000,-99999.000000,1,1,10,1,4.000000,16896.768870,1.038966e+07,78030960700
220739,220740,7.803100e+11,7.803100e+11,78,30,960200,2,NaN,NaN,NaN,...,-99999.000000,-99999.000000,1,1,12,1,4.666667,3890.488237,6.114601e+05,78030960200

In [21]:
#Merge epa with census_tracts
#TODO: How do we want to define walkability? It's currently defined by blockgroup? Do we find average?
tracts_with_epa= census_tracts.merge(epa[["GEOID","NatWalkInd"]], how = "inner", on = "GEOID")
print("After merge, the shape is:", tracts_with_epa.shape)

# The shape includes additional rows since the epa data is provided by census block group (there are sometimes a few
# block groups within a tract)

# If we groupby GEOID after the merge and then take the mean of the walkability index, that should give us a column
tracts_with_epa.groupby("GEOID")["NatWalkInd"].agg("mean")

After merge, the shape is: (159160, 25)

GEOID
1015000200      8.250000
1015000300      9.750000
1015000400      5.277778
1015000500      7.833333
1015000600      6.416667
                 ...
55139003400    11.625000
55139003500     8.000000
55139003600     8.611111
55139003701     7.944444
55139003702     6.472222
Name: NatWalkInd, Length: 54450, dtype: float64

In [22]:
#Let's update the tracts_with_land df with this new index
tracts_with_land_walk = tracts_with_land.merge(tracts_with_epa.groupby("GEOID")["NatWalkInd"].agg("mean"), on="GEOID")
tracts_with_land_walk

,NAME,B01003_001E,B01002_002E,B01002_001E,B02001_002E,B06009_001E,B06009_002E,B06009_003E,B06009_005E,B06009_006E,...,tract,DP02_0001E,DP04_0037E,DP03_0062E,GEOID,ALAND,ALAND_SQMI,INTPTLAT,INTPTLONG,NatWalkInd
0,"Census Tract 20, Calhoun County, Alabama",7331,39.2,39.8,6926,5131,387,1758,598,481,...,2000,2735,6.0,66217,1015002000,239320450,92.402,33.738267,-85.681293,3.066667
1,"Census Tract 8, Calhoun County, Alabama",981,39.2,41.7,419,752,204,278,43,35,...,800,423,5.1,27656,1015000800,3607490,1.393,33.645722,-85.827015,11.500000
2,"Census Tract 9, Calhoun County, Alabama",3617,40.9,44.3,2476,2610,266,638,459,448,...,900,1528,6.4,50810,1015000900,12114697,4.678,33.644908,-85.796520,5.166667
3,"Census Tract 14, Calhoun County, Alabama",3105,43.7,47.1,2502,2343,618,922,46,54,...,1400,1178,5.7,42083,1015001400,21093280,8.144,33.659900,-85.889541,5.291667
4,"Census Tract 21.02, Calhoun County, Alabama",3350,39.4,34.8,2576,2320,80,382,521,629,...,2102,1312,6.5,69875,1015002102,20789534,8.027,33.835620,-85.738289,7.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54445,"Census Tract 14, Winnebago County, Wisconsin",3928,41.6,44.2,3661,2864,232,1234,326,123,...,1400,1827,5.4,47156,55139001400,6286797,2.427,43.991282,-88.560126,12.583333
54446,"Census Tract 34, Winnebago County, Wisconsin",4606,34.5,35.2,3913,2987,211,1277,426,135,...,3400,1819,5.2,47628,55139003400,3913783,1.511,44.184596,-88.478399,11.625000
54447,"Census Tract 11, Winnebago County, Wisconsin",4200,37.0,43.4,3687,2871,162,1140,458,153,...,1100,1990,4.7,35446,55139001100,2698989,1.042,44.019767,-88.571056,14.666667
54448,"Census Tract 20, Winnebago County, Wisconsin",7192,41.8,42.4,7091,4909,220,1715,1080,338,...,2000,2886,6.0,68457,55139002000,182238158,70.363,43.988283,-88.716849,6.100000
54449,"Census Tract 21, Winnebago County, Wisconsin",3862,46.2,46.6,3797,2846,303,1101,335,194,...,2100,1548,6.0,66103,55139002100,232142673,89.631,44.029534,-88.828142,3.416667

In [23]:
schools = pd.read_excel("data/GRF19/grf19_lea_tract.xlsx")
schools.rename(columns={"TRACT" : "GEOID"}, inplace=True)
schools[:10]

,LEAID,NAME_LEA19,GEOID,COUNT,LANDAREA,WATERAREA
0,100001,Fort Rucker School District,1031010300,2,23.428498,0.000000
1,100001,Fort Rucker School District,1045020000,2,66.513225,1.081745
2,100003,Maxwell AFB School District,1101000900,3,3.356590,0.143795
3,100003,Maxwell AFB School District,1101001000,3,0.001526,0.000000
4,100003,Maxwell AFB School District,1101006000,3,0.003588,0.000000
5,100005,Albertville City School District,1095030701,8,2.116012,0.000000
6,100005,Albertville City School District,1095030702,8,0.800889,0.009930
7,100005,Albertville City School District,1095030801,8,5.437714,0.012075
8,100005,Albertville City School District,1095030802,8,5.297315,0.017784
9,100005,Albertville City School District,1095030902,8,7.293396,0.033274

In [24]:
tracts_with_schools = tracts_with_land.merge(schools, how = "left", on = "GEOID")
tracts_with_schools.shape

(76380, 33)

In [25]:
#Some geoids map to multiple school districts so let's aggregate them all into a list
tracts_with_schools.groupby("GEOID")["NAME_LEA19"].agg(list)

GEOID
1015000200                       [Anniston City School District]
1015000300                       [Anniston City School District]
1015000400     [Anniston City School District, Calhoun County...
1015000500     [Anniston City School District, Calhoun County...
1015000600     [Anniston City School District, Calhoun County...
                                     ...
55139003400                             [Neenah School District]
55139003500                             [Neenah School District]
55139003600                             [Neenah School District]
55139003701                             [Neenah School District]
55139003702                             [Neenah School District]
Name: NAME_LEA19, Length: 54450, dtype: object

In [26]:
tracts_with_land_walk_schools = tracts_with_land_walk.merge(tracts_with_schools.groupby("GEOID")["NAME_LEA19"].agg(list), on="GEOID")
tracts_with_land_walk_schools

,NAME,B01003_001E,B01002_002E,B01002_001E,B02001_002E,B06009_001E,B06009_002E,B06009_003E,B06009_005E,B06009_006E,...,DP02_0001E,DP04_0037E,DP03_0062E,GEOID,ALAND,ALAND_SQMI,INTPTLAT,INTPTLONG,NatWalkInd,NAME_LEA19
0,"Census Tract 20, Calhoun County, Alabama",7331,39.2,39.8,6926,5131,387,1758,598,481,...,2735,6.0,66217,1015002000,239320450,92.402,33.738267,-85.681293,3.066667,"[Calhoun County School District, Jacksonville ..."
1,"Census Tract 8, Calhoun County, Alabama",981,39.2,41.7,419,752,204,278,43,35,...,423,5.1,27656,1015000800,3607490,1.393,33.645722,-85.827015,11.500000,[Anniston City School District]
2,"Census Tract 9, Calhoun County, Alabama",3617,40.9,44.3,2476,2610,266,638,459,448,...,1528,6.4,50810,1015000900,12114697,4.678,33.644908,-85.796520,5.166667,"[Anniston City School District, Calhoun County..."
3,"Census Tract 14, Calhoun County, Alabama",3105,43.7,47.1,2502,2343,618,922,46,54,...,1178,5.7,42083,1015001400,21093280,8.144,33.659900,-85.889541,5.291667,[Calhoun County School District]
4,"Census Tract 21.02, Calhoun County, Alabama",3350,39.4,34.8,2576,2320,80,382,521,629,...,1312,6.5,69875,1015002102,20789534,8.027,33.835620,-85.738289,7.166667,"[Calhoun County School District, Jacksonville ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54445,"Census Tract 14, Winnebago County, Wisconsin",3928,41.6,44.2,3661,2864,232,1234,326,123,...,1827,5.4,47156,55139001400,6286797,2.427,43.991282,-88.560126,12.583333,[Oshkosh Area School District]
54446,"Census Tract 34, Winnebago County, Wisconsin",4606,34.5,35.2,3913,2987,211,1277,426,135,...,1819,5.2,47628,55139003400,3913783,1.511,44.184596,-88.478399,11.625000,[Neenah School District]
54447,"Census Tract 11, Winnebago County, Wisconsin",4200,37.0,43.4,3687,2871,162,1140,458,153,...,1990,4.7,35446,55139001100,2698989,1.042,44.019767,-88.571056,14.666667,[Oshkosh Area School District]
54448,"Census Tract 20, Winnebago County, Wisconsin",7192,41.8,42.4,7091,4909,220,1715,1080,338,...,2886,6.0,68457,55139002000,182238158,70.363,43.988283,-88.716849,6.100000,"[Omro School District, Oshkosh Area School Dis..."
54449,"Census Tract 21, Winnebago County, Wisconsin",3862,46.2,46.6,3797,2846,303,1101,335,194,...,1548,6.0,66103,55139002100,232142673,89.631,44.029534,-88.828142,3.416667,"[Berlin Area School District, Omro School Dist..."

In [27]:
tracts_with_land_walk_schools.to_csv(f"{data_directory}/merged_data.csv", index=False)

## Next let's manipulate some of the variables to create new columns to be what we want to compare

In [38]:
# Let's rename our big df
#Indices to keep as is: NatWalkInd, ALAND, AWATER, 
df = pd.read_csv(f"{data_directory}/merged_data.csv")
new_columns = ["population_density", "housing_density", "median_age", "median_male_age", "pct_white", "median_income",
              "school_districts", "pct_lt_hs_grad", "median_rooms", "pct_hs_grad", "pct_at_least_col_grad", "GEOID",
               "state", "tract", "NAME", "NatWalkInd", "ALAND", "ALAND_SQMI", "county", "pct_black", "pct_hisp",
              "pct_asian", "pct_native", "pct_not_hispanic"]

In [39]:
df.columns

Index(['NAME', 'B01003_001E', 'B01002_002E', 'B01002_001E', 'B02001_002E',
       'B06009_001E', 'B06009_002E', 'B06009_003E', 'B06009_005E',
       'B06009_006E', 'B03002_001E', 'B03002_012E', 'B03002_004E',
       'B03002_003E', 'B03002_006E', 'B03002_005E', 'B03002_002E', 'state',
       'county', 'tract', 'DP02_0001E', 'DP04_0037E', 'DP03_0062E', 'GEOID',
       'ALAND', 'ALAND_SQMI', 'INTPTLAT', 'INTPTLONG', 'NatWalkInd',
       'NAME_LEA19'],
      dtype='object')

In [40]:
#Columns to be renamed
df = df.rename(columns={"B01002_001E" : "median_age" , "B01002_002E" : "median_male_age" ,
                    "DP03_0062E" : "median_income",  "NAME_LEA19" : "school_districts" , 
                        "DP04_0037E" : "median_rooms"})

In [41]:
def safe_division(x, y):
    try:
        return x / y
    except:
        return 0

In [42]:
#Columns to be created
df["population_density"] = df.apply(lambda x: safe_division(float(x['B01003_001E']),float(x["ALAND_SQMI"])), axis=1)
df["housing_density"] = df.apply(lambda x: safe_division(float(x['DP02_0001E']),float(x["ALAND_SQMI"])), axis=1)
df["pct_white"] = df.apply(lambda x: safe_division(float(x['B03002_003E']),float(x["B03002_001E"])), axis=1)
df["pct_hisp"] = df.apply(lambda x: safe_division(float(x['B03002_012E']),float(x["B03002_001E"])), axis=1)
df["pct_black"] = df.apply(lambda x: safe_division(float(x['B03002_004E']),float(x["B03002_001E"])), axis=1)
df["pct_asian"] = df.apply(lambda x: safe_division(float(x['B03002_006E']),float(x["B03002_001E"])), axis=1)
df["pct_not_hispanic"] = df.apply(lambda x: safe_division(float(x['B03002_002E']),float(x["B03002_001E"])), axis=1)
df["pct_native"] = df.apply(lambda x: safe_division(float(x['B03002_005E']),float(x["B03002_001E"])), axis=1)

df["pct_lt_hs_grad"] = df.apply(lambda x: safe_division(float(x['B06009_002E']),float(x["B06009_001E"])), axis=1)
df["pct_hs_grad"] = df.apply(lambda x: safe_division(float(x['B06009_003E']),float(x["B06009_001E"])), axis=1)
df["pct_at_least_col_grad"] = df.apply(lambda x: safe_division((float(x["B06009_005E"]) + float(x["B06009_006E"])),float(x["B06009_001E"])), axis=1)

In [43]:
df.columns

Index(['NAME', 'B01003_001E', 'median_male_age', 'median_age', 'B02001_002E',
       'B06009_001E', 'B06009_002E', 'B06009_003E', 'B06009_005E',
       'B06009_006E', 'B03002_001E', 'B03002_012E', 'B03002_004E',
       'B03002_003E', 'B03002_006E', 'B03002_005E', 'B03002_002E', 'state',
       'county', 'tract', 'DP02_0001E', 'median_rooms', 'median_income',
       'GEOID', 'ALAND', 'ALAND_SQMI', 'INTPTLAT', 'INTPTLONG', 'NatWalkInd',
       'school_districts', 'population_density', 'housing_density',
       'pct_white', 'pct_hisp', 'pct_black', 'pct_asian', 'pct_not_hispanic',
       'pct_native', 'pct_lt_hs_grad', 'pct_hs_grad', 'pct_at_least_col_grad'],
      dtype='object')

In [44]:
new_df = df[new_columns]
new_df.columns

Index(['population_density', 'housing_density', 'median_age',
       'median_male_age', 'pct_white', 'median_income', 'school_districts',
       'pct_lt_hs_grad', 'median_rooms', 'pct_hs_grad',
       'pct_at_least_col_grad', 'GEOID', 'state', 'tract', 'NAME',
       'NatWalkInd', 'ALAND', 'ALAND_SQMI', 'county', 'pct_black', 'pct_hisp',
       'pct_asian', 'pct_native', 'pct_not_hispanic'],
      dtype='object')

In [45]:
new_df.to_csv(f"{data_directory}/tracts_data_hisp.csv", index=False)